.home
	.image
		img(src="resources/logos/prody.svg", alt="")
	.desc
		h1 What is Prodyogiki?
		p Every technocrat’s first hand at practical implementation of what has been learnt. Every nerd’s passion. And the most fulfilling exploration of technology that any engineer can do. This is merely the glimpse of the show. The Prodyogiki of ISTE, NIT Hamirpur is designed to challenge and motivate the students at the same time, and bring out their best. Prodyogiki is filled with an interactive session, workshops, events and quizzes for students promise to be melting pots of different engineering and technical fields and will set new benchmarks in collaboration between different disciplines.