.holder
    .regPlayer
        h1 Register Yourself
        .lable Name
        .textbox
            input(type="text" id="player_name" placeholder="Full Name")

        .lable Phone Number
        .textbox
            input(type="text" id="player_phone" placeholder="Phone Number")

        .lable Email
        .textbox
            input(type="email" id="player_email" placeholder="Your Email")
        .submit
            input(class="btn" type="button" value="Submit!" onClick="playerSubmit()")

.holder
    .regTeam
        h1 Register Your Team
        .lable Team Name
        .textbox
            input(type="text" id="team_name" placeholder="Name of your team")
        .lable#teamLeader Team Leader
        .textbox(style="border-bottom: 2px solid #03a9f4")
            input(type="text" id="team_leader" placeholder="Full Name")
        .textbox(style="border-bottom: 2px solid #03a9f4")
            input(type="text" id="team_leader_email" placeholder="Email")
        .lable Event
        .textbox
            select(id="select" onChange="handleSelectChange()")
                each event in eventList
                    option(value = event.team_limit id=event.title)=event.title 

    .regMembers

        .clear
            .lable Member 2
            .textbox
                input(type="text" id="team_member_2" placeholder="Full Name")
            .textbox
                input(type="text" id="team_member_2_email" placeholder="Email")

        .clear
            .lable Member 3
            .textbox
                input(type="text" id="team_member_3" placeholder="Full Name")
            .textbox
                input(type="text" id="team_member_3_email" placeholder="Email") 

        .clear
            .lable Member 4
            .textbox
                input(type="text" id="team_member_4" placeholder="Full Name")
            .textbox
                input(type="text" id="team_member_4_email" placeholder="Email")

        .clear
            .lable Member 5
            .textbox
                input(type="text" id="team_member_5" placeholder="Full Name")
            .textbox
                input(type="text" id="team_member_5_email" placeholder="Email")
    
    .submit
            input(class="btn" type="button" value="Submit!" onClick="playerSubmit()")
