.holder
    .regPlayer
        h1 Register Yourself
        .lable Name
        .textbox
            input(type="text" id="player_name" placeholder="Full Name")
        
        .lable Phone Number
        .textbox
            input(type="text" id="player_phone" placeholder="Phone Number")
        
        .lable Email
        .textbox
            input(type="text" id="player_email" placeholder="Your Email")
        .submit
            input(class="btn" type="button" value="Submit!" onClick="playerSubmit()")

.holder
    .regPlayer
        h1 Register Yourself
        .lable Name
        .textbox
            input(type="text" id="player_name" placeholder="Full Name")
        
        .lable Phone Number
        .textbox
            input(type="text" id="player_phone" placeholder="Phone Number")
        
        .lable Email
        .textbox
            input(type="text" id="player_email" placeholder="Your Email")
        .submit
            input(class="btn" type="button" value="Submit!" onClick="playerSubmit()")
