-
	var sponsors = [
		{
			name:'Ace Engineering Academy',
			img: 'AceAcademy.png',
			website: 'https://aceenggacademy.com',
			category: 'Education Partner'
		},
		// {
		// 	name:'Grab On',
		// 	img: 'GrabOn.png',
		// 	website: 'https://grabon.in',
		// 	category: 'Gifting Partner'
		// },
		// {
		// 	name:'Union Bank of India',
		// 	img: 'UnionBank.png',
		// 	website:'https://unionbankofindia.co.in',
		// 	category: 'Banking Partner'
		// },
		// {
		// 	name:'Lens Fit',
		// 	img: 'LensFit.png',
		// 	website:'https://lensfit.com',
		// 	category: 'eye-wear partner'
		// },
		{
			name:'Dash Management',
			img: 'DashManagement.png',
			website:'https://dash.management',
			category: 'IT Partner'
		},
		{
			name:'The Souled Store',
			img: 'SouledStore.png',
			website: 'https://thesouledstore.com',
			category: 'Gifting Partner'
		},
		{
			name:'Hacker Earth',
			img: 'HackerEarth.png',
			website: 'https://hackerearth.com',
			category: 'Debugging Partner'
		}
	]

//- .header
//- 	.image
//- 		img(src="../assets/logos/ISTE_hollow.svg", alt="")
//- 	.desc
//- 		p 
//- 			span#iste The Indian Society for Technical Education (ISTE) 
//- 			|is a National Professional Non-profit organisation for the upliftment of the Technical Education System in our country. ISTE has the motto of the promoting Career development of Teachers and personality development of students around the country. The major objective of ISTE is to provide quality training programmes for teachers and administrators of various technical Institutions to update their knowledge and skills in their fields of activity and to assist the production and development of high quality professional engineers. The ISTE Students' Chapter NIT Hamirpur promotes such technological culture in our college. We, at NIT Hamirpur, conduct various events, workshops and seminars within the college and also participate in various inter-college fests.
//- 			br
//- 			a(href="https://istenith.com") Click here to go to our official website.

//- .Oursps Our Sponsors

.sponsors
	each sponsor in sponsors
		.card
			a(href=sponsor.website)
				img(src = '../assets/img/sponsors/'+sponsor.img)
			.category #{sponsor.category}
