.header
	.image
		img(src="../assets/logos/ISTE_hollow.svg", alt="")
	.desc
		p 
			span#iste The Indian Society for Technical Education (ISTE) 
			|is a national, professional, non-profit organisation for the Technical Education System in our country. ISTE has the motto of the promoting Career development of Teachers and personality development of Students. The major objective of ISTE is to provide quality training programmes for teachers and administrators of technical Institutions to update their knowledge and skills in their fields of activity and to assist the production and development of high quality professional engineers.
			br
			a(href="https://istenith.com") Click here to go to our official website.

