-
	var sponsors = [
		{
			name:'Ace Engineering Academy',
			img: 'ace.png',
			website: 'https://aceenggacademy.com',
			//- category: 'Study Buddy'
		},
		{
			name:'Grab On',
			img: 'grabon.png',
			website: 'https://aceenggacademy.com',
			//- category: 'Study Buddy'
		},
		{
			name:'Union Bank of India',
			img: 'union-bank.png',
			website: 'https://aceenggacademy.com',
			//- category: 'Study Buddy'
		},
		{
			name:'The Souled Store',
			img: 'souledStore.png',
			website: 'https://aceenggacademy.com',
			//- category: 'Study Buddy'
		}
	]

//- .header
//- 	.image
//- 		img(src="../assets/logos/ISTE_hollow.svg", alt="")
//- 	.desc
//- 		p 
//- 			span#iste The Indian Society for Technical Education (ISTE) 
//- 			|is a National Professional Non-profit organisation for the upliftment of the Technical Education System in our country. ISTE has the motto of the promoting Career development of Teachers and personality development of students around the country. The major objective of ISTE is to provide quality training programmes for teachers and administrators of various technical Institutions to update their knowledge and skills in their fields of activity and to assist the production and development of high quality professional engineers. The ISTE Students' Chapter NIT Hamirpur promotes such technological culture in our college. We, at NIT Hamirpur, conduct various events, workshops and seminars within the college and also participate in various inter-college fests.
//- 			br
//- 			a(href="https://istenith.com") Click here to go to our official website.

//- .Oursps Our Sponsors

.sponsors
	each sponsor in sponsors
		.card
			//- .category #{sponsor.category}
			a(href=sponsor.website)
				img(src = '../assets/img/sponsors/'+sponsor.img)

