mixin contact(role, name, number)
	.contact
		.role= role
		.name= name
		.contact= number

+contact('Tech Support', 'Abhay Raj Singh', '+91 96304 59118')
+contact('Events', 'Yash Punia', '+91 98739 21954')
+contact('Events', 'Nimish Sharma', '+91 87696 29367')
+contact('Events', 'Tanuja Pal', '+91 87567 09760')
