mixin contact(role, name, number)
	.contact
		.role= role
		.name= name
		.contact= number

+contact('Tech Lead', 'Gaurav Pandey', '+91 96692 33493')
+contact('Tech Lead', 'Parth Pant', '+91 78760 82603')
+contact('Events', 'Ayushi Sharma', '+91 70188 21061')
+contact('Events', 'Kunal Thakur', '+91 70185 48714')
+contact('Management', 'Jai Gupta', '+91 80917 61089')
+contact('Management', 'Paras Aggarwal', '+91 98160 46719')
