mixin contact(role, name, number)
	.contact
		.role= role
		.name= name
		.contact= number

+contact('Tech Lead', 'Sumit Dhiman', '+91 90150 95573')
+contact('Tech Lead', 'Kaustubh Verma', '+91 91207 60263')
+contact('Events', 'Deepak Singh', '+91 91168 99468')
+contact('Events', 'Disha Gupta', '+91 62395 26160')
+contact('Management', 'Gazal Shayam', '+91 80917 61089')
+contact('Management', 'Meenakshi', '+91 78766 40424')
