-
	var eventList = [
		{
			'title': 'Abhedya',
			'image': 'kh.svg',
			'descr': "Traverse through a series of levels, decoding the clues and answering the questions and gradually moving on to the next one in a massive Cyber Cryptic Hunt. Exercise your braincells while competing with others as your race to reach the top.",
			'team_limit':1,
			'abstract'  : 'https://docs.google.com/presentation/d/1na-iOIlKuF3XnvRnjBQslMrRs0DPWytj3uP3-F2-KG8/edit?usp=sharing',
			'form' : 'https://abhedya-server.istenith.com',
			'dontInline': true,
			'prize': 1800,
		},
		{
			'title': 'TeleFort',
			'image': 'rr.svg',
			'descr': "Shift a chosen landmark to a new location and provide sustainable solutions to the obstacles participants might face due to varying topography and climatic factors.",
			'team_limit':4,
			'form': 'https://docs.google.com/forms/d/e/1FAIpQLSd9oE-ZXdUj3Fn4ZBsnDnJFObis575V16Ot8DiktfKnFPeMDA/viewform?usp=sf_link',
			'abstract'  : 'https://docs.google.com/presentation/d/1Ay0KkuRI2_zSY5LIHlnsWcVHgtxDSxn3d-W2QieRGr8/edit?usp=sharing',
			'prize': 2000,
		},
		{
			'title': 'Yellow Hat Snaps',
			'image': 'cp.svg',
			'descr': "Describe and explain certain civil structures that you captured via photography. Get hands-on experience of civil engineering and scrutinize essential structures that humans have built",
			'team_limit':2,
			'dontInline': true,
			'abstract'  : 'https://drive.google.com/file/d/1xtPUlvqbzQM0PkWpEzBbGaDD2p3K4SuQ/view?usp=drivesdk',
			'form' : 'https://forms.gle/LAtwvqBcdUNpWk9HA',
			'prize': 1300,
		},
		{
			'title': 'Turtle Traipse',
			'image': 'tt.svg',
			'descr': "Explore your interest in the field of robotics. Learning about the turtlesim library, and implement the same  to complete the task of tracing the shape by coding your turtle on the Robot Operating System(ROS)",
			'team_limit':4,
			'form': 'https://docs.google.com/forms/d/e/1FAIpQLSdqJS6__2sy-43yDjc-REjto6EcRHpe3LyevactF9lLzL52fA/viewform?usp=sf_link',
			'abstract'  : 'https://docs.google.com/presentation/d/18hdIEFjEnLu_jt0Mm6kL0flRrAdZ7CYDiUF_PwtSk2E/edit?usp=sharing',
			'prize': 1600,
		},
		{
			'title': 'Subterfuse',
			'image': 'ckt.svg',
			'descr': "Construct the most efficient circuit based on a given problem statement with the help of given clues. An ideal event for those who enjoy the complexity of electronics",
			'team_limit':4,
			'form': 'https://docs.google.com/forms/d/e/1FAIpQLScfxLUrfEag573lHeJdnb2EUCiKN6DniSTKVxbmkC0EQro2cQ/viewform?usp=sf_link',
			'abstract'  : 'https://docs.google.com/presentation/d/1k1N6igQkkRxybEI32oT-utNjhkKO7JcLUvFW2JB83rU/edit?usp=sharing',
			'prize': 1600,
		},
		{
			'title': 'Covid Crib',
			'image': 'ccondo.svg',
			'descr': "As we come across the period of pandemic, we have seen a loss of economy. Tackle the solution of shutting down of offices. Make a safe workspace which follows all the precautionary measures, most importantly social distancing, keeping in mind all the precautions and safety measures to make the workspace safe,secure and cost effective.",
			'team_limit':5,
			'form': 'https://docs.google.com/forms/d/e/1FAIpQLSdakilN22TMEmKcpiO2mQmk__58_vPxT75AbnMQus6ZdFbVxQ/viewform?usp=sf_link',
			'abstract'  : 'https://drive.google.com/file/d/1EWPr6NeTxSnpq8WlmPezoKBSQWSv9YJ0/view?usp=sharing',
			'prize': 1600,
		},
		{
			'title': 'Control-Zero',
			'image': 'cz.svg',
			'descr': "Dip your toes into the world of Machine Learning and automation. Learn how to train ML model to recognize hand gestures, with the help of a few libraries, compete with your peers to see whose hand gesture controls work best and which automation is most optimized.",
			'team_limit':5,
			'abstract'  : 'https://docs.google.com/presentation/d/18XzabQxM5tIwCkRc7z6qaVGhqJQmJ63HH97Mnyf2NA4/edit?usp=sharing',
			'form' : 'https://docs.google.com/forms/d/1UTKaZH8guTzN5si8c12Rro9qDnNVXHAIBuQ0a2NGqqM/viewform?edit_requested=true',
			'prize': 1700,
		},
		{
			'title': 'Coding Mania',
			'image': 'CM.svg',
			'descr': " A 3 hr event where you have to solve coding problems of varying difficulty levels. Participants can use any language to write their code",
			'team_limit':1,
			'abstract'  : 'https://drive.google.com/file/d/1BdWgE22N4WHIyBJAOZLdif6Bmh-6MsSl/view?usp=drivesdk',
			'form' : 'https://docs.google.com/forms/d/e/1FAIpQLSc4Y9eOrIAqE6BwAnvwpnJB40aHDfnH4AQmdJTQO99BIbG-YQ/viewform?usp=sf_link',
			'prize': 1600,
		}
	]
	var registration_open = true


.topic
	.heading
		if registration_open
			span Register Now!
		else
			span Registrations Opening Soon!
//.info Submission for <b>Compact Condo</b>, offline(sheets): till <b>26th, 23:59 IST</b>, online(digital): till <b>27th, 18:00 IST</b> at <a href="https://tiny.cc/prodycc">tiny.cc/prodycc</a>
.card-holder
	each event in eventList
		.card
			.inner
				.front
					h3= event.title
					center
						// if event.dontInline
						img(src='../assets/img/' + event.image)
						// else
							img(inline src='../assets/img/' + event.image)
					//-.prize= 'Prizes worth ₹' + event.prize
				.back
					// .prize prizes worth
					p= event.descr
					.downloadabs
					center
						br
						// path according to dist assumin documents in root of dist
						if registration_open
							if event.form
								a(class="abstract form" href=event.form) Register Now!
							else
								span.abstract.soon Coming Soon!

						a(class="abstract" href=event.abstract) 
							if registration_open
								span |&nbsp&nbsp
							span Abstract   
							if !registration_open
								span &nbsp
								img(src="../assets/img/download.svg", alt="")
			
