-
	var eventList = [
		{
			'title': 'Abhedya 2.0',
			'image': 'abhedya.svg',
			'descr': "In a massive Cyber Cryptic Hunt, progress through a series of levels by decoding the clues and answering the questions and gradually moving on to the next one. As you race to the top, exercise your braincells while competing with others.",
			'team_limit':1,
			//- 'abstract'  : 'https://docs.google.com/presentation/d/1ZgSMzV1-q9CsSf9fnc5t2OcVnAjTwm2WqK7sVwKlvsA/edit#slide=id.gb932af04bb_0_0',
			//- 'form' : 'https://abhedya-server.istenith.com',
			'dontInline': true,
			'prize': 1800,
		},
		{
			'title': 'AtmoSwitch',
			'image': 'case_study.svg',
			'descr': "Climate change is the next big crisis unless we develop strategies to combat it. AtmoSwitch poses the very question highlighting themes such as Power generation , consumption ,transmission. Expecting well-researched and analaysed reports with realistic and coherent solutions.",
			'team_limit':5,
			//- 'form': 'https://docs.google.com/forms/d/e/1FAIpQLSfClGltsf6ZZNPVi0UdfX209xNLWgVLzkAF68M1OnWvNMgogQ/viewform',
			//- 'abstract'  : 'https://drive.google.com/file/d/1EWPr6NeTxSnpq8WlmPezoKBSQWSv9YJ0/view?usp=sharing',
			'prize': 1600,
		},
		{
			'title': 'Code Xpress',
			'image': 'coding.svg',
			'descr': "A 3-hour event in which you must solve coding problems of varying difficulty levels. Participants may write their code in any language they choose.",
			'team_limit':4,
			//- 'form': 'https://forms.gle/QvCH5KYvj4Cajigt7',
			//- 'abstract'  : 'https://docs.google.com/presentation/d/18hdIEFjEnLu_jt0Mm6kL0flRrAdZ7CYDiUF_PwtSk2E/edit?usp=sharing',
			'prize': 1600,
		},
		{
			'title': 'Mathematica',
			'image': 'math.svg',
			'descr': "An event for the mathematician in you who loves to tinker around with equations, curves, and graphs. Let out your mathematical creativity to bring to life everyday things using multiple equations, in this one-of-a-kind event.",
			'team_limit':4,
			//- 'form': 'https://docs.google.com/forms/d/e/1FAIpQLScfxLUrfEag573lHeJdnb2EUCiKN6DniSTKVxbmkC0EQro2cQ/viewform?usp=sf_link',
			//- 'abstract'  : 'https://docs.google.com/presentation/d/1k1N6igQkkRxybEI32oT-utNjhkKO7JcLUvFW2JB83rU/edit?usp=sharing',
			'prize': 1600,
		},
		{
			'title': 'Naqsh-E-Qadam',
			'image': 'civil.svg',
			'descr': "Travel distances in shortest possible time, satisfying the given set of restrictions on the given map. Let the voyager in you explore the world of navigation and mapping.",
			'team_limit':4,
			//- 'form': 'https://docs.google.com/forms/d/e/1FAIpQLSesZ_DRGG6I_fT5_MVDf4LaJJEFDezs61oCa2jb6TuMTLdxHA/viewform',
			//- 'abstract'  : 'https://docs.google.com/presentation/d/1Ay0KkuRI2_zSY5LIHlnsWcVHgtxDSxn3d-W2QieRGr8/edit?usp=sharing',
			'prize': 2000,
		},
		{
			'title': 'Tech Shorts',
			'image': 'tech_short.svg',
			'descr': "From a range of topics, students need to pick one and create a video that is engaging, educative, and conveys the relevant information with simplicity. You can use any tools/software you deem fit for the purpose.",
			'team_limit':2,
			'dontInline': true,
			//- 'abstract'  : 'https://drive.google.com/file/d/1xtPUlvqbzQM0PkWpEzBbGaDD2p3K4SuQ/view?usp=drivesdk',
			//- 'form' : 'https://forms.gle/LAtwvqBcdUNpWk9HA',
			'prize': 1300,
		},
		/*{
			'title': 'Control-Zero',
			'image': 'cz.svg',
			'descr': "Dip your toes into the world of Machine Learning and automation. Learn how to train ML model to recognize hand gestures, with the help of a few libraries, compete with your peers to see whose hand gesture controls work best and which automation is most optimized.",
			'team_limit':5,
			'abstract'  : 'https://docs.google.com/presentation/d/18XzabQxM5tIwCkRc7z6qaVGhqJQmJ63HH97Mnyf2NA4/edit?usp=sharing',
			'form' : 'https://docs.google.com/forms/d/1UTKaZH8guTzN5si8c12Rro9qDnNVXHAIBuQ0a2NGqqM/viewform?edit_requested=true',
			'prize': 1700,
		},
		{
			'title': 'Coding Mania',
			'image': 'CM.svg',
			'descr': " A 3 hr event where you have to solve coding problems of varying difficulty levels. Participants can use any language to write their code",
			'team_limit':1,
			'abstract'  : 'https://drive.google.com/file/d/1BdWgE22N4WHIyBJAOZLdif6Bmh-6MsSl/view?usp=drivesdk',
			'form' : 'https://docs.google.com/forms/d/e/1FAIpQLSc4Y9eOrIAqE6BwAnvwpnJB40aHDfnH4AQmdJTQO99BIbG-YQ/viewform?usp=sf_link',
			'prize': 1600,
		}   */
	]
	var registration_open = true 


.topic
	.heading
		if registration_open
			//- span Register Now!
		else
			span Registrations Opening Soon!
//.info Submission for <b>Compact Condo</b>, offline(sheets): till <b>26th, 23:59 IST</b>, online(digital): till <b>27th, 18:00 IST</b> at <a href="https://tiny.cc/prodycc">tiny.cc/prodycc</a>
.card-holder
	each event in eventList
		.card
			.inner
				.front
					h3= event.title
					center
						// if event.dontInline
						img(src='../assets/img/' + event.image)
						// else
							img(inline src='../assets/img/' + event.image)
					//-.prize= 'Prizes worth ₹' + event.prize
				.back
					// .prize prizes worth
					p= event.descr
					.downloadabs
					center
						br
						// path according to dist assumin documents in root of dist
						if registration_open
							if event.form
								a(class="abstract form" href=event.form) Register Now!
							else
								span.abstract.soon Coming Soon!

						a(class="abstract" href=event.abstract) 
							if registration_open
								span |&nbsp&nbsp
							span Abstract   
							if !registration_open
								span &nbsp
								img(src="../assets/img/download.svg", alt="")
			
