
.topic
	.heading
		span Register Now!
.info Submission for <b>Compact Condo</b>, offline(sheets): till <b>26th, 23:59 IST</b>, online(digital): till <b>27th, 18:00 IST</b> at <a href="https://tiny.cc/prodycc">tiny.cc/prodycc</a>
.card-holder
	each event in eventList
		.card
			.inner
				.front
					h3= event.title
					center
						// if event.dontInline
						img(src='../assets/img/' + event.image)
						// else
							img(inline src='../assets/img/' + event.image)
					.prize= '₹' + event.prize
				.back
					// .prize prizes worth
					p= event.descr
					.downloadabs
					center
						br
						// path according to dist assumin documents in root of dist
						a(class="abstract" href='documents/' + event.abstract download) Abstract &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp   
							img(src="../assets/img/download.svg", alt="")
