-
	var options = [
		{text:'workshops', toggles:'workshops'},
		// {text:'register', toggles:'register'},
		{text:'home',     toggles:'home'},
		{text:'events',   toggles:'events'},
		{text:'sponsors', toggles:'about-us'},
		{text:'contact us', toggles:'contact-us'},
		//{text:'sponsors', toggles:'sponsors'},
	]

header
	#navbar
		each option in options 
			span.tab(data-toggles=option.toggles)= option.text

