


//- .schedule
//-     .cardholder
//-         .card#day1
//-             .heading 21st February
//-             .content
//-                 ul(type="dot")
//-                     li Code Xpress (20:00 - 23:00)
//-         .card#day2
//-             .heading 23th February
//-             .content
//-                 ul(type="dot")
//-                     li Mathematica (Round 1 - 17:00)
//-                     li Tech-Shorts (Start-17:00 | Submission-26 Feb)
//-         .card#day3
//-             .heading 24th February
//-             .content
//-                 ul(type="dot")
//-                     li Mathematica (Round 2 - 17:00)


.page
    #banner
        .image
            img(src="../assets/logos/prody1.svg" alt="prodyogiki logo")
        #prody prody
            span#flicker.clear ogiki
        #dates 20 - 25 February
    canvas#matrix-effect
    #matrix-overlay
center
    #timer 
        table
            tr
                td(colspan=4)
                    .begin BEGINS IN
            tr.top
                td Days
                td Hours
                td Mins
                td Secs 
            tr.duration
                td#days 
                td#hours
                td#mins
                td#secs
// The Timeline
br
br

.topic
    .heading
        span.title_time_line Timeline
ul.timeline
    li
        .direction-r
            .flag-wrapper
                span.flag 20 Feb'22
                span.time-wrapper
                    span.time 
            .descp
                ul
                    li.reason Atmoswitch Problem Statement |
                        span     12:00
    li
        .direction-l
            .flag-wrapper
                span.flag 21 Feb'22
                span.time-wrapper
                    span.time 
            .descp
                ul
                    li.reason Code Xpress |
                        span    20:00 - 23:00
    li
        .direction-r
            .flag-wrapper
                span.flag 22 Feb'22
                span.time-wrapper
                    span.time 
            .descp
                ul
                    li.reason Tech-Short Problem Statement | 
                        span 17:00 
                    li.reason Mathematica Round 1 |
                        span    18:00 - 23:59
    li
        .direction-l
            .flag-wrapper
                span.flag 23 Feb'22
                span.time-wrapper
                    span.time 
            .descp
                ul
                    li.reason Mathematica Round 2 |
                        span    17:00 - 21:00
    li
        .direction-r
            .flag-wrapper
                span.flag 24 Feb'22
                span.time-wrapper
                    span.time 
            .descp
                ul
                    li.reason Abhedya 2.0 Starts |
                        span    18:00
    li
        .direction-l
            .flag-wrapper
                span.flag 25 Feb'22
                span.time-wrapper
                    span.time 
            .descp
                ul
                    li.reason Abhedya 2.0 Ends |
                        span    21:00
                    li.reason TechShort Submission |
                        span    23:59
                    li.reason Naqsh-E-Qadam |
                        span    23:59
    li
        .direction-r
            .flag-wrapper
                span.flag 27 Feb'22
                span.time-wrapper
                    span.time 
            .descp
                ul
                    li.reason Atmoswitch Submission |
                        span    23:59

.content
    .topic
        .heading
            span What is Prodyogiki?
        .desc Every technocrat’s first hand at practical implementation of what has been learnt, every nerd’s passion and the most fulfilling exploration of technology that any engineer can do. These are merely the glimpses of the gala show that "Prodyogiki 2022" will be. We at ISTE, NIT Hamirpur  are ready with a chain of events designed to challenge and motivate the students at the same time, and bring out their best. Prodyogiki 2022 is filled with interactive technological sessions, workshops, events, quizzes  and ample other activities for all you technocrats out there. We promise to be the melting pots of different engineering and technical fields and will set new benchmarks in taking the technological culture of NIT Hamirpur to the unprecedented marks of glory.
