.page
	#banner
		.image
			img(src="../assets/logos/pg.svg", alt="prodyogiki logo")
		#prody prody
			span#flicker.clear ogiki
		#dates Prizes worth 30K
	canvas#matrix-effect
	#matrix-overlay
center
	#timer 
		table
			tr
				td(colspan=4)
					.begin BEGINS IN
			tr.top
				td Days
				td Hours
				td Mins
				td Secs 
			tr.duration
				td#days 
				td#hours
				td#mins
				td#secs
//- .schedule
//- 	.cardholder
//- 		.card#day1
//- 			.heading 24th January
//- 			.content
//- 				ul(type="dot")
//- 					li Dev Dash (Round 2- 18:00-21:00)
//- 					li Risk Reduction (Round 1- 21:30)
//- 		.card#day2
//- 			.heading 25th January
//- 			.content
//- 				ul(type="dot")
//- 					li Spaghetti Bridge (9:30-20:00)
//- 					li Risk Reduction (Round 2- 17:00-20:00)
//- 		.card#day3
//- 			.heading 26th January
//- 			.content
//- 				ul(type="dot")
//- 					li Molecular Mystery (13:00-16:00)
//- 					li Ropeway Design (16:00-20:30)
//- 					li Lost Lander (17:00-20:30)
//- 					li Crazy Crawler (17:00-20:30)

.content
	.topic
		.heading
			span What is Prodyogiki?
		.desc Every technocrat’s first hand at practical implementation of what has been learnt, every nerd’s passion and the most fulfilling exploration of technology that any engineer can do. These are merely the glimpses of the gala show that "Prodyogiki 2020" will be. We at ISTE, NIT Hamirpur  are ready with a chain of events designed to challenge and motivate the students at the same time, and bring out their best. Prodyogiki 2020 is filled with interactive technological sessions, workshops, events, quizzes  and ample other activities for all you technocrats out there. We promise to be the melting pots of different engineering and technical fields and will set new benchmarks in taking the technological culture of NIT Hamirpur to the unprecedented marks of glory.
