.page
	#banner
		.image
			img(src="../assets/logos/pg.svg", alt="prodyogiki logo")
		#prody prody
			span#flicker.clear ogiki
		#dates 25 - 27 February
	canvas#matrix-effect
	#matrix-overlay
center
	#timer 
		table
			tr
				td(colspan=4)
					.begin BEGINS IN
			tr.top
				td Days
				td Hours
				td Mins
				td Secs 
			tr.duration
				td#days 
				td#hours
				td#mins
				td#secs
.schedule
	.cardholder
		.card#day1
			.heading 12th February
			.content
				ul(type="dot")
					li Subterfuse (Round 1 - 17:00)
		.card#day2
			.heading 13th February
			.content
				ul(type="dot")
					li Abhedya
					li Turtle Traise (12:00 - 18:00)
		.card#day3
			.heading 14th February
			.content
				ul(type="dot")
					li Control Zero
					li Subterfuse (Round 2 - 14:00 - 17:00)

.content
	.topic
		.heading
			span What is Prodyogiki?
		.desc Every technocrat’s first hand at practical implementation of what has been learnt, every nerd’s passion and the most fulfilling exploration of technology that any engineer can do. These are merely the glimpses of the gala show that "Prodyogiki 2022" will be. We at ISTE, NIT Hamirpur  are ready with a chain of events designed to challenge and motivate the students at the same time, and bring out their best. Prodyogiki 2022 is filled with interactive technological sessions, workshops, events, quizzes  and ample other activities for all you technocrats out there. We promise to be the melting pots of different engineering and technical fields and will set new benchmarks in taking the technological culture of NIT Hamirpur to the unprecedented marks of glory.
