center
    .workbox
        .workheader
            .worklabel IIT-K Technocruise
            img(src="../assets/img/techkriti.svg", alt="")
        .workdesc
            p
                span#title Prodyogiki 2020 
                |presents in collaboration with the 
                span#title Indian Institute Of Technology, Kanpur 
                |a couple of extravagant workshops focussed majorily on the fields of 
                span#title Data Science 
                |and 
                span#title Internet Of Things. 
            p
                |The workshops are designed and hosted by experts from IIT-K. They will be organized on a two day basis and will cover a wide range of information focussing primarily on the above mentioned fields. 
            p
                |So grab this chance of a lifetime to procure knowledge right from the tables of the expertise. 
            p
                |To register for the workshops, go to the registration link given below and then upload your e-tickets on the next link.
                br
                br
                a(href="https://tiny.cc/technocruise_hamirpur" target="blank") Click here to Register !
                a(href="https://docs.google.com/forms/d/e/1FAIpQLSdqHFvCiicFiqZIDoCV4F-8J6CRYeLL0lHtg5W4-j6_VjewQg/viewform?usp=sf_link" target="blank") Upload e-tickets (post-registration) !

