@import (reference) 'lib/colors.less';
@import (reference) 'lib/helpers.less';

.header {
	display: flex;
	width: 60%;
	position: relative;
	margin: auto;
}

.header .image {
	padding-top: 30px;
	padding-right: 30px;
}

.header .desc h1 {
	width: fit-content;
	font-size: 3em;
	margin: auto 0;
	color: #00ddff;
}

.arsenal {
	margin-top: 50px;
	text-align: center;
}

.arsenal h3 {
	display: inline-block;
	width: fit-content;
	font-size: 3em;
	margin: auto 0;
	color: #00ddff;
	margin-top: 40px;
	padding: 0;
	margin: 0;
}

.header .desc {
	padding: 0.7em;
}

.header .desc p {
	text-align: justify;
	border-left: 2px solid #00ff00;
	padding-left: 1em;
}

a {
	color: #03a9f4;
}

.card-holder {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	.card {
		display: flex;
		flex-flow: column;
		justify-content: center;
		width: 300px;
		margin: 15px;
		padding: 10px;

		text-align: center;

		.image {
			width: 100px;
			height: 100px;
			margin: auto;
			display: flex;
			align-items: center;
			img {
				max-width: 100%;
			}
		}
	}
}
