@import (css)
	url('https://fonts.googleapis.com/css?family=Zilla+Slab:700|Righteous|Montserrat:600|Roboto+Slab:400,700&display=swap');
@import (less) 'lib/colors';
@import (less) 'lib/helpers.less';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	background: #101010;
	font-family: 'Roboto Slab', sans-serif;
	color: #fff;
}

a {
	outline: none;
	text-decoration: none;
}

#window {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

section {
	padding-top: 6em;

	width: 100vw;
	height: 100vh;

	overflow-x: hidden;
	overflow-y: auto;

	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100vw);

	transition: 0.6s;

	&.active {
		transform: translateX(0);
		& ~ section {
			transform: translateX(100vw);
		}
	}

	& .content {
		max-width: 1440px;
		margin: auto;
	}
}

.topic {
	.heading {
		margin: 2em;
		span {
			.no-select();
			font-family: 'Zilla Slab', serif;
			font-size: 36px;
			color: @accent-green;
			font-weight: unset;
			position: relative;

			//	 // &::first-letter {
			//		 //	 text-transform: uppercase;
			//	 // }

			// &::after {
			// 	content: '';
			// 	position: absolute;
			// 	bottom: 0em;
			// 	left: -0.25em;
			// 	width: calc(100% + 0.6em);
			// 	height: 0.2em;
			// 	z-index: -1;
			// 	background-color: white;
			// }
		}
	}

	.desc {
		padding: 2em;
		text-align: justify;
	}
}

.page {
	width: 100vw;
	height: 100vh;
}

@media screen and (max-width: 900px) {

}
