doctype html
html
	head 
		title Prodyogiki 2020 | ISTE - NIT Hamirpur
		// Responsiveness enabled
		meta(name='viewport' content= 'width=device-width, initial-scale=1.0 user-scalable=no')
		meta(charset='utf-8')

		// Search Engine 
		meta(name='description' content='Most unique and coherent Technical Festival')
		meta(name='image' content='https://istenith.com/prodyogiki/prody_og.png')

		// Schema.org for Google
		meta(itemprop='name' content='Prodyogiki 2020 | ISTE - NIT Hamirpur')
		meta(itemprop='description' content='Most unique and coherent Technical Festival')
		meta(itemprop='image' content='https://istenith.com/prodyogiki/prody_og.png')

		// Open Graph general (Facebook, Pinterest & Google+)
		meta(name='og:title' content='Prodyogiki 2020 | ISTE - NIT Hamirpur')
		meta(name='og:description' content='Most unique and coherent Technical Festival')
		meta(name='og:image' content='https://istenith.com/prodyogiki/prody_og.png')
		meta(name='og:url' content='https://istenith.com/prodyogiki')
		meta(name='og:site_name' content='Prodyogiki 2020 | ISTE - NIT Hamirpur')
		meta(name='og:type' content='website')
		link(rel='stylesheet', type='text/css', href='styles/index.min.css')
		link(rel='stylesheet', type='text/css', href='styles/header.min.css')
		link(rel='stylesheet', type='text/css', href='styles/home.min.css')
		link(rel='stylesheet', type='text/css', href='styles/events.min.css')
	body
		include /src/pug/bases/header

		//- divs of each page
		#window
			section#events
				include /src/pug/modules/events
			section#home
				include /src/pug/modules/home
			section#aboutus
				include /src/pug/modules/aboutus
			section#sponsors
				include /src/pug/modules/sponsors
		script
			include /src/scripts/index.js
