doctype html
html
	head
		title Prodyogiki 2020 | ISTE - NIT Hamirpur
	body
		include modules/navbar.pug
		include modules/account.pug
		include modules/home.pug
		include modules/events.pug
		include modules/sponsors.pug
		include modules/aboutus.pug
