@import (reference) '../lib/colors.less';
@import (reference) '../lib/helpers.less';

#about-us {
	padding-bottom: 6em;
	.topic {
		.heading {
			text-align: center;
			span {
				color: @accent-blue;
				font-size: 5em;
				letter-spacing: 15px;
				margin-left: 60px;
			}
		}
	}
}

.header {
	margin:auto;
	display: flex;
	width: 60%;
	position: relative;
	.image {
		padding: 24px;
		padding-top: 4px;
		text-align: center;
		img {
			width: 240px;
		}
	}
	.desc {
		padding: 0.7em;
		#iste {
			color: #00ff00;
		}
	}
	p {
		text-align: justify;
		border-left: 2px solid #00ff00;
		padding-left: 1em;
	}
	a {
		color: #03a9f4;
	}
}

.sponsors{
	padding:15px;
	background-color:white  ;
	margin:auto;
	width:60%;
	display:flex;
	flex:1 1 20%;
	justify-content: center;

	.card{
		.category{
			background-color: @accent-green;
			color:@dark;
			align-self: center;
		}
		max-width:400px;
		max-height:400px;
		img{
			width:100%;
			transition:0.3s
		}
		img:hover{
			filter:grayscale(100%) blur(1px);
			-webkit-filter:grayscale(100%) blur(1px);
		}
	}
}

.Oursps{
	text-align: center;
	margin:auto;
	width:60%;
	font-size: 3em;
	color:@accent-green;
	margin-top: 20px;
}
@media only screen and (max-width: 600px) {
.header {
		width: 90%;
		display: flex;
		flex-flow: column;
	}
	#about-us {
		.desc {
			padding-bottom: 6em;
		}
	}
}
