@import (less) '../lib/colors.less';
@import (less) '../lib/helpers.less';

#workshops {
	.box {
		width: 90%;
		max-width: 600px;
		text-align: center;
		height: 70%;
		padding: 40px;
		margin: 40px auto;
		border: 2px solid @accent-green;
		border-radius: 10px;
		box-shadow: 0 0 10px #666;
		padding-bottom: 6px;
		.label {
			color: white;
			font-size: 30px;
			padding-top: 10px;
			padding-bottom: 3px;
			font-weight: bold;
		}
		img {
			width: 100%;
			max-width: 300px;
		}
		p {
			text-align: justify;
			font-size: 16px;
			line-height: 30px;
			padding-bottom: 1em;
		}
		.desc {
			span.imp {
				color: @accent-green;
			}
			font-family: 'Lucida Sans', sans-serif;
			font-size: 20px;
		}
		a {
			text-align: left;
			display: block;
			color: @accent-blue;
			margin-bottom: 20px;
		}
	}
}
